.header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-top: 70px;
}
.howitworks{
    color: #23a455;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    bottom: 50px;
  
}
.howitworksTxt{
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    position: relative;
    bottom: 50px;
}
.emailText{
    color: #23a455;
    margin-left: 300px;
    font-weight: bold;
}