.header{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.menuIcon{
    width: 60px;
    height: 50px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    background-color: #23a455;
    border-radius: 50px;
    margin: 20px;
    position: relative;
    bottom: 32px;
}
.brandName{
    font-size: 30px;
    font-weight: 600;
    color: #23a455;
    position: relative;
    bottom: 10px;
}
.headerName{
    font-size: 20px;
    font-weight: 600;
    color: #23a455;
    
}
.logoutBtn{
    color: #23a455;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    border-color: #23a455;
    font-weight: bold;
    position: relative;
    bottom: 8px;
}
.signupBtn{
    border-radius: 20px;
    height: 40px;
    width: 100px;
    background-color: #23a455;
}
.budgetText{
    font-size: 45px;
    color: #23a455;
    font-weight: bold;
    margin-left: 380px;
    position: relative;
    bottom: 30px;
}
.spendText{
    margin-left: 350px;
    font-size: 20px;
    position: relative;
    bottom: 30px;
}
.budgetButton{
    font-family: "freight-sans-pro", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    fill: #ffffff;
    color: #ffffff;
    background-color: #8b4dfe;
    border-radius: 40px 40px 40px 40px;
    padding: 15px 30px;
    margin-left: 430px;
    position: relative;
    bottom: 20px;
}
.iphoneImage{
    margin-left: 150px;
}
.groceryImage{
    margin-left: 400px;
}
.bgBox{
    margin-top: 40px;
    background-color: #23a455;
    height: 200px;
    position: relative;
    bottom: 20px;
}
.footer{
    background-color: #23a455;
    height: 400px;
    position: relative;
    top: 80px;
    flex-wrap: wrap;
    overflow: hidden;
}
.copyrightText{
    position: relative;
    left: 300px;
    top: 40px;
    font-weight: bold;
    font-size: 25px;
}
.mainFooterDiv{
    display: flex; 
    color: white;
    position: relative;
    top: 80px;
    margin: 40px;
}
.exploreText{
    font-size: 22px;
    font-weight: bold;
}
.linkText{
    color: white;
    text-decoration: none;
}
.linkText:hover{
    color: black;
    font-weight: 500;
    text-decoration: none;
}
p:hover{
    cursor: pointer;
}