.mainPodcastDiv{
    margin-top: 100px;
    margin-left: 55px;

}
h2{
    margin-left: 10px;
    margin-bottom: 20px;
    color:#007cef;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    bottom: 100px;
}
.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    margin: 10px;
    position: relative;
    bottom: 40px;
  }
.gridItem {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 1);
    height: 300px;
    margin: 20px;    
}
.gridItem:hover {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 1);
    height: 300px;
    margin: 20px;    
}
h3{
    color: #007cef;
    font-size: 25px;
    margin: 20px;
    line-height: 1.2em;  
    text-transform: none;
}
p{
    margin: 20px;
    font-size: 18px;
    line-height: 1.2em;
}
.svg{
    margin: 20px;
    padding: 20px;
}

.audio{
    display: flex;
    justify-content: center; 
}
.season1{
    background-color: #007cef;
    border-radius: 20px;
    color: white;
    border: none;
    width: 130px;
    height: 40px;
    margin-left: 10px;
    margin-bottom: 20px;
    position: relative;
    bottom: 60px;
}
.season1:hover{
    background-color: black;
    border-radius: 20px;
    color: white;
    border: none;
    width: 130px;
    height: 40px;
    margin-bottom: 20px;
}
.season2{
    background-color: #007cef;
    border-radius: 20px;
    color: white;
    border: none;
    width: 130px;
    height: 40px;
    margin-left: 20px;
    position: relative;
    bottom: 60px;
}
.season2:hover{
    background-color: black;
    border-radius: 20px;
    color: white;
    border: none;
    width: 130px;
    height: 40px;
    margin-bottom: 20px;
    
}
